body {
  background-image: url(images/ground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  font-family: sans-serif;
}

h1 {
  margin-top: -40px;
  margin-bottom: 0;
  color: white;
}

h3 {
  color: white;
}

svg {
  border: 2px solid black;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

rect:hover {
  stroke: black;
}

.container {
  position: relative;
}

.tooltip {
  background-color: #000;
  border-radius: 10px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  position: absolute;
  z-index: 100;
  text-align: center;
  opacity: 0.8;
}

.tooltip.show {
  display: block;
}

.tooltip p {
  margin: 5px;
}
